@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

#page-status {
	bottom: 1rem;
	left: 1rem;
	width: 10rem;
	height: 5rem;
	position: fixed;
	background-color: orange;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	flex-direction: column;
}

#page-status img {
	width: 2rem;
	margin-top: 0.5rem;
	transform: rotate(10deg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: roboto;
	text-decoration: none;
	list-style: none;
	border: none;
	color: #1e1e1e;
}

body::-webkit-scrollbar {
	background-color: #1e1e1e;
	width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #444;
}

header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-image: linear-gradient(
		to right top,
		#8a72af,
		#66699d,
		#485f86,
		#34526d,
		#2a4453
	);
}

header section p {
	text-align: center;
	padding: 0.2rem;
}

header section p::after {
	display: flex;
	align-items: center;
	justify-content: center;
	content: "";
	width: 22rem;
	height: 0.2rem;
	margin-top: 0.2rem;
	background-image: linear-gradient(
		to left top,
		#ff0000,
		#f36300,
		#de9200,
		#c2b700,
		#a0d600,
		#74dd54,
		#46e085,
		#00e1ad,
		#00c6d9,
		#00a5ff,
		#0078ff,
		#0000ff
	);
	box-shadow: 0rem 0.2rem 0.4rem 0;
}

article {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ccc;
	min-height: 70vh;
	max-height: 70vh;
	width: 80%;
	margin: auto;
}

main {
	min-height: 100vh;
	background-color: #2e2e2e;
}

p#aboutText {
	font-style: italic;
	text-align: center;
	font-weight: 300;
	margin: 1rem;
}

footer {
	min-height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer img {
	width: 2rem;
}

#sec-main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #1e1e1e;
	min-height: 100vh;
}

#navbar {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

#navbar ul {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#navbar h2 {
	padding: 1rem;
}

.my-name {
	font-size: 3rem;
}

.title {
	font-family: "audiowide";
	color: var(--title-color);
	color: #ccc;
}

.btn {
	width: 10rem;
	height: 3rem;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 0.1rem;
	border-left: 0.1rem;
	border-style: solid;
	border-color: #ccc;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.6s all;
}

.btn:hover {
	background-color: #ccc;
	color: #1e1e1e;
	transition: 0.6s all;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 0.1rem;
	border-left: 0.1rem;
	border-style: solid;
	border-color: #3e3e3e;
}

.active-btn {
	background-color: #805fb3;
}

.active-btn::before {
	content: "";
	top: 3.2rem;
	margin: 0.2rem;
	border-left: 0.1rem solid #805fb3;
	border-bottom: 0.1rem solid #805fb3;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	transform: rotate(-45deg);
	background-color: #ccc;
	box-shadow: 0.2rem 0rem 1rem 0.05rem;
}

.btn-start {
	width: 10rem;
	height: 3rem;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 0.1rem;
	border-left: 0.1rem;
	border-style: solid;
	border-color: #1e1e1e;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: 0.6s all;
}

.btn-start:hover {
	background-color: #1e1e1e;
	transition: 0.6s all;
	border-top: 1px;
	border-right: 1px;
	border-bottom: 0.1rem;
	border-left: 0.1rem;
	border-style: solid;
	border-color: #ccc;
}

.btn-start:active {
	background-color: #805fb3;
}

.text-container {
	margin-top: 1rem;
}
